<div class="note" id="note-<%= note.id %>">
  <div class="meta">
    <div class="author">
      <%= note.user.username %>
      <% if (note.created_at > (Time.now - 15.minutes)) && (current_user == note.user) %> 
        <%= link_to "(Edit)", edit_note_project_task_path(note.task.project, note.task, note) %>  <span class="note">(for another <%= ((15.minutes - (Time.now - note.created_at)) / 60).to_i %> minutes)</span>
      <% elsif can? :manage, Note %>
        <%= link_to "(Edit)", edit_note_project_task_path(note.task.project, note.task, note) %>
      <% end %>
    </div>
    <div class="date">on <%= note.created_at.to_s(:short_time) %></div>
  </div>
  <div class="note-contents">
    <% unless note.content.blank? %>
      <div class="content">
      <%= note.content %>
      </div>
    <% end %>
    <% unless note.updates.blank? %>
      <div class="attributes">
        <h4>Updates</h4>
        <dl>
        <% note.updates.each do |key, val| %>
          <% if key.to_s == "assigned_user_id" %>
          <dt>Assignee:</dt>
          <dd><%= User.find(val).username %></dd>
          <% else %>
          <dt><%= key.to_s.humanize %>:</dt>
          <dd><%= val %></dd>
          <% end %>
        <% end %>
        </dl>
      </div>
    <% end %>
    <% unless note.attachment.blank? %>
    <div class="attachments">
      <% if note.attachment_content_type.include? 'image' %>
        <%= link_to (image_tag note.attachment_url(:thumb).to_s), note.attachment_url %>
      <% else %>
        <%= link_to note.attachment_file_name, note.attachment_url, :target => "_blank" %> (<%= number_to_human_size(note.attachment_file_size) %>)
      <% end %>
    </div>
    <% end %>
  </div> <!-- .note-contents -->
</div>