<div class="comment <%= "secret" if comment.secret? %>" id="comment-<%= comment.id %>">
  <% if (comment.created_at > (Time.now - 15.minutes)) && (current_user == comment.user) %> 
  	<%= link_to "(Edit)", edit_comment_project_topic_path(comment.topic.discussion.project, comment.topic, comment) %>  <span class="note">(for another <%= ((15.minutes - (Time.now - comment.created_at)) / 60).to_i %> minutes)</span>
  <% elsif can? :manage, Comment %>
    <%= link_to "(Edit)", edit_comment_project_topic_path(comment.topic.discussion.project, comment.topic, comment) %>
  <% end %>
  <p class="meta"><%= comment.user.username %> on <%= comment.created_at.to_s(:short_time) %> said:</p>
  <div class="content">
  <%= comment.content %>
  </div>
  <% unless comment.attachment.blank? %>
    <%= render :partial => "shared/attachment", :locals => { :mymodel => comment } %>
  <% end %>
</div>
<hr />