<% title "New Task" %>

<%= semantic_form_for @task, :url => project_tasks_path(@project), :html => { :multipart => true } do |f| %>
  <%= f.inputs do %>
  	<%= f.input :name %>
    <%= f.input :description %>
    <% unless current_user.client? %><%= f.input :status, :collection => Task::STATUSES, :include_blank => false %><% end %>
    <%= f.input :priority, :collection => Task::PRIORITIES, :include_blank => false %>
    <% unless current_user.client? %><%= f.input :assigned_user_id, :as => :select, :collection => @project.users, :include_blank => '-- Unassigned --' %><% end %>
    <%= f.input :attachment, :as => :file %> 
    <%= f.input :parent_id, :as => :select, :collection => @project.tasks %>
    <% unless current_user.client? %><%= f.input :secret, :as => :boolean %><% end %>
  <% end %>
  <%= f.buttons %>
<% end %>

<p><%= link_to "Back to List", project_tasks_path(@project) %></p>
