<% title "Task" %>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>
<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>
<p>
  <strong>Duration:</strong>
  <%= @task.duration %>
</p>
<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>
<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>
<p>
  <strong>Assigned User:</strong>
  <%= @task.assigned_user_id %>
</p>
<p>
  <strong>Parent:</strong>
  <%= @task.parent_id %>
</p>
<p>
  <strong>Project:</strong>
  <%= @task.project_id %>
</p>

<p>
  <%= link_to "Edit", edit_task_path(@task) %> |
  <%= link_to "Destroy", @task, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", tasks_path %>
</p>
