<% title @topic.title %>

<% content_for :sidebar do %>
  <h2>Subscribers</h2>
  <p>Stake holders: 
  <% @clients.each do |user| %>
    <span class="user">
      <%= user.username %>
      <% if admin? || user == current_user %>
        (<%= link_to "x", topic_subscriptions_path(@topic, user), :title => "Remove from project", :confirm => 'Are you sure you want to remove user from the subscribers list?', :method => :delete %>)
      <% end %>
    </span>
  <% end %>
<br />Developers: 
  <% @developers.each do |user| %>
    <span class="user">
      <%= user.username %> 
      <% if admin? || user == current_user %>
        (<%= link_to "x", topic_subscriptions_path(@topic, user), :title => "Unsubscribe from notifications", :confirm => 'Are you sure you want to remove user from the subscribers list?', :method => :delete %>)
      <% end %>
    </span>
  <% end %>
</p>
  <ul>
    <% unless @users.include?(current_user) %>
      <li><%= link_to "Subscribe", topic_subscriptions_add_self_path(@topic), :method => :post %></li>
    <% end %>
  </ul>
  <h2>Manage</h2>
  <ul>
    <% if can? :manage, Topic %>
      <li><%= link_to "Edit Topic", edit_project_topic_path(@project,@topic) %></li>
    <% end %>
  </ul>
<% end %>

<p class="meta"><%= @topic.user.username %> posted this in <%= link_to @topic.discussion.title, project_discussion_path(@topic.discussion.project, @topic.discussion) %> on <%= @topic.created_at.to_s(:short) %></p>
<div class="content">
<%= @topic.content %>
</div>

<hr />

<%= render @comments %>

<div class="comments_new">
  <p><%= current_user.username %></p>
  <%= semantic_form_for @comment, :url => comments_project_topic_path(@project, @topic) do |f| %>
    <%= f.inputs do %>
      <%= f.input :content, :label => "Leave a comment&hellip;", :input_html => { :class => 'autogrow', :rows => 6  } %>
      <% if can? :secret, Comment %>
        <%= f.input :secret, :label => "Make comment secret", :hint => "(visible only to the internal developers)", :as => :boolean %>
      <% end %>
    <% end %>
    <%= f.buttons %>
  <% end %>
</div> <!-- comments_new -->


