<% title @topic.title %>

<% content_for :sidebar do %>
  <h2>TODO: Subscribers <a href="#">Add People</a></h2>
  <p>Stake holders: 
  <br>Developers: 
    <span class="user">
        mehigh 
        (<a title="Remove from project" rel="nofollow" data-method="delete" data-confirm="Are you sure you want to unsubscribe user from topic update notifications?" href="#">x</a>)
    </span>
  </p>
  <ul>
  	<li><a href="#">Subscribe</a></li>
  </ul>
  <h2>Manage</h2>
  <ul>
    <% if can? :manage, Topic %>
      <li><%= link_to "Edit Topic", edit_project_topic_path(@project,@topic) %></li>
    <% end %>
  </ul>
<% end %>

<p class="meta"><%= @topic.user.username %> posted this in <%= link_to @topic.discussion.title, project_discussion_path(@topic.discussion.project, @topic.discussion) %> on <%= @topic.created_at.to_s(:short) %></p>
<div class="content">
<%= @topic.content %>
</div>
