<% title "Homepage" %>  

<% content_for :sidebar do %>
	<% if user_signed_in? %>
		<% if current_user.client? %>
			<h2>Projects</h2>
		  <ul>
		    <% if @projects_nb_active > 0 %><li><%= link_to_unless_current "My Active Projects", projects_path %> (<%= @projects_nb_active %>)</li><% end %>
		    <% if @projects_nb_all > 0 %><li><%= link_to_unless_current "All", project_filter_path("all") %> (<%= @projects_nb_all %>)</li><% end %>
		    <% if @projects_nb_inquiry > 0 %><li><%= link_to_unless_current "Inquiry", project_filter_path("inquiry") %> (<%= @projects_nb_inquiry %>)</li><% end %>
		    <% if @projects_nb_upcoming > 0 %><li><%= link_to_unless_current "Upcoming", project_filter_path("upcoming") %> (<%= @projects_nb_upcoming %>)</li><% end %>
		    <% if @projects_nb_current > 0 %><li><%= link_to_unless_current "Current", project_filter_path("current") %> (<%= @projects_nb_current %>)</li><% end %>
		    <% if @projects_nb_on_hold > 0 %><li><%= link_to_unless_current "On Hold", project_filter_path("on_hold") %> (<%= @projects_nb_on_hold %>)</li><% end %>
		    <% if @projects_nb_review > 0 %><li><%= link_to_unless_current "In Review", project_filter_path("review") %> (<%= @projects_nb_review %>)</li><% end %>
		    <% if @projects_nb_archived > 0 %><li><%= link_to_unless_current "Archived", project_filter_path("archived") %> (<%= @projects_nb_archived %>)</li><% end %>
		  </ul>
		<% else %>
			<ul>
				<li><a id="filter-tasks-all" href="#">All</a></li>
				<li><a id="filter-tasks-imp" href="#">Important</a></li>
				<li><a id="filter-tasks-late" href="#">Late</a></li>
				<li><a id="filter-tasks-today" href="#">Today</a></li>
				<li><a id="filter-tasks-tomorrow" href="#">Tomorrow</a></li>
			</ul>
		<% end %>
	<% end %>
<% end %>

<% if user_signed_in? %>
	
	<% if current_user.client? %>
		<% @projects.each do |project| 
			project_topics = project.topics.limit(3) %>
				<h3><%= link_to project.name, project %> (<%= project_completion(project) %>% completed)</h3>
				<div class="completion-bar"><div class="fill" style="width:<%= project_completion(project) %>%;"></div></div>
				<div class="topics">
					<% if project_topics.length == 0 %>
						<p>No topics have been started. <%= link_to "Start one now", new_project_topic_path(project) %></p>
					<% else %>
						<%= render project_topics %>
						<p class="seeall"><%= link_to "See all discussion topics...", project_discussions_path(project) %> or <%= link_to "create a new topic", new_project_topic_path(project) %></p>
					<% end %>
				</div>
		<% end %>
	<% else %>
		<% @projects.each do |project| 
			project_tasks = project.tasks.pending.mine(current_user) + project.tasks.development.mine(current_user) %>
			<% if project_tasks.length > 0 %>
				<h3><%= link_to project.name, project %></h3>
				<ul class="tasks">
					<%= render project_tasks %>
				</ul>
			<% end %>
		<% end %>
	<% end %>

<% else %>
	<p>You need to be logged in to do anything here.</p>
<% end %>