<% if @filter.blank?
     title "My active projects"
   else
     title "Projects / #{@filter}" 
   end %>

<% content_for :sidebar do %>
  <h2>Filter Projects</h2>
  
  <ul>
    <% if @projects_nb_active > 0 %><li><%= link_to "My Active Projects", projects_path %> (<%= @projects_nb_active %>)</li><% end %>
    <% if @projects_nb_all > 0 %><li><%= link_to "All", project_filter_path("all") %> (<%= @projects_nb_all %>)</li><% end %>
    <% if @projects_nb_inquiry > 0 %><li><%= link_to "Inquiry", project_filter_path("inquiry") %> (<%= @projects_nb_inquiry %>)</li><% end %>
    <% if @projects_nb_upcoming > 0 %><li><%= link_to "Upcoming", project_filter_path("upcoming") %> (<%= @projects_nb_upcoming %>)</li><% end %>
    <% if @projects_nb_current > 0 %><li><%= link_to "Current", project_filter_path("current") %> (<%= @projects_nb_current %>)</li><% end %>
    <% if @projects_nb_on_hold > 0 %><li><%= link_to "On Hold", project_filter_path("on_hold") %> (<%= @projects_nb_on_hold %>)</li><% end %>
    <% if @projects_nb_review > 0 %><li><%= link_to "In Review", project_filter_path("review") %> (<%= @projects_nb_review %>)</li><% end %>
    <% if @projects_nb_archived > 0 %><li><%= link_to "Archived", project_filter_path("archived") %> (<%= @projects_nb_archived %>)</li><% end %>
  </ul>

<% end %>

<% @companies.each do |company| %>
  <h4><%= company.name %></h4>
  <table class="index">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Started</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% for project in company.projects & @projects do %>
      <tr class="<%= project.status %>">
        <td><%= link_to project.name, project %></td>
        <td><%= project.status.capitalize %></td>
        <td><%= project.created_at.to_s(:short_date) %></td>
        <td>
          <% if can? :manage, Project %>
            <%= link_to "Edit", edit_project_path(project) %>
          <% end %>
          <% if project.archived == 0 %>
            <%= link_to "Archive", project_archive_path(project), :confirm => 'Are you sure you want to archive the project?', :method => :post %>
          <% else %>
            <%= link_to "Reactivate", project_reactivate_path(project), :method => :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>
<% end %>

<% if can? :create, Project %>
<p><%= link_to "New Project", new_project_path %></p>
<% end %>